body {
 font-family: 'Inconsolata', monospace;
 color: #14272B;
 max-width: 1000px;
 margin: auto;
}


/* header */
.header-container {
  border-bottom: 3px solid #2F4246 ;
}


.header-name {
  font-size: 60px;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 15px;
}


.alias {
  font-size: 30px;
  font-weight: 100;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 1em;
 }


.logo {
 margin-top: 10px;
 width: auto;
 height: 60px;
 float: left;
 vertical-align: top;
}

/* container */

.container {
 display: flex;
 flex-wrap: wrap;
 max-width: 100%;
}


.main-image {
  max-width: 100%;
  margin-top: 20px;
}

/* projects */
.works {
  font-size: 35px; 
}


.three {
 width: 100%;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}


.projects {
 width: 32%;
 height: auto;
 margin: 5px;
 order: 5;
}
   

.project-image {
  max-width: 100%;
}


.indidvual-projects1 {
  font-size: 20px;
  text-align: center;
  padding: 0px 15px 5px 0px;
}

.indidvual-projects2 {
  font-size: 20px;
  text-align: center;
  padding: 60px 15px 5px 0px;
}

.indidvual-projects3 {
  font-size: 20px;
  text-align: center;
  padding: 30px 15px 5px 0px;
}

a:link {
  color: black;
  text-decoration: none;
}


a:hover {
  color: #7BA2DC;
  cursor: crosshair;
}


.footer {
  width: 100%;
  text-align: center;
}


/* media queries */
@media screen and (min-width: 701px) and (max-width: 999px) {
  
  
 .header-container {
   width: 90%;
   margin-left: auto;
   margin-right: auto;
  }
  
  
 .container {
   width: 90%;
   margin-left: auto;
   margin-right: auto;
  }
  
  
  .projects {
    max-width: 31%;
    flex-shrink: 1;
  }
  

  .indidvual-projects2 {
  padding: 50px 15px 5px 0px;
}

  .indidvual-projects3 {
  padding: 25px 15px 5px 0px;
  }
}


@media screen and (max-width: 700px) {

  
  .header-name {
    font-size: 30px;
    letter-spacing: 2px;
    color: #186B89;
    font-weight: bold;
  }
  
  
  .alias {
    font-size: 15px;
    color: #186B89;
  }
  
  
  .works {
    font-size: 25px;
    text-align: center;
  }
  
  
  .projects {
    width: 100%;
    flex-direction: column;
  }
  
  .indidvual-projects2 {
  padding: 5px 15px 5px 0px;
}

  .indidvual-projects3 {
  padding: 5px 15px 5px 0px;
  }
}

  
  
